POSTGRES_DB=eventtix
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

AUTH_DB_PASSWORD=auth_pass
EVENT_DB_PASSWORD=event_pass
ORDER_DB_PASSWORD=order_pass
TICKET_DB_PASSWORD=ticket_pass

RABBITMQ_DEFAULT_USER=eventtix
RABBITMQ_DEFAULT_PASS=eventtix

# En az 32 byte olmalı
JWT_SECRET=change-me-change-me-change-me-change-me
