# Java / Maven
target/
*.class
*.jar
*.log
.mvn/wrapper/maven-wrapper.jar

# Node
node_modules/
dist/
npm-debug.log*

# IDE
.idea/
*.iml
.vscode/
.settings/
.project
.classpath
*.swp
.DS_Store

# Env
.env
